@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.atma-light {
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.atma-medium {
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
}

.atma-semibold {
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-style: normal;
}

.atma-bold {
    font-family: "Atma", system-ui;
    font-weight: 700;
    font-style: normal;
}

h1 {
    @apply text-3xl font-bold leading-tight;
}